html, body {
	width: 100%;
	height: 100%;
}

@font-face {
	font-family: Lato;
	src: url(Lato/Lato-Regular.ttf)
}

@font-face {
	font-family: OpenSans;
	src: url(Open_Sans/OpenSans-Regular.ttf)
}
.jumbotron {
	margin-bottom: 0;
	color: white;
	background-color: #73242A;
	background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/cluckTruckLarger.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;

}
/*
#wrapper {
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
*/
/*
#headerContainer {
	width: 100%;
	height: 30em;
	padding-top: 4em;
	background-color: #73242A;
	position: relative;
	text-align: center;
	background-image: url(../images/MisterClucker.jpg);
	background-repeat: no-repeat;
	background-origin: padding-box, padding-box;
	background-position: left, right;
	background-blend-mode: lighten;
}
*/
/*
#navBarContainer {
	width: 100%;
	height: 100%;
	background-color: grey;
	text-align: center;
	position: relative;
}
*/
#banner-container {
	width: 100%;
	height: 6em;
	background-color: #F2BC57;
	text-align: center;
	position: relative;

}

#about-us-container {
	width: 100%;
	height: 8em;
	position: relative;
	background-color: lightgrey;
}

#our-locations-container {
	width: 100%;
	height: 12em;
	position: relative;
	background-color: grey;	
}

#contact-us-container {
	width: 100%;
	height: 12em;
	position: relative;
	background-color: lightgrey;	
	
}

#our-menu-container {
	width: 100%;
	height: 100em;
	position: relative;
	background-color: lightblue;	
	
}
.footer {
	width: 100%;
	height: 20em;
	position: relative;
	background-color: red;	
}

#navBarContainer {
	background-color: #73242A;
	color: white;
}
.nav-item {
	background-color: #73242A;
	color: white;
	font-size: 1.8em;
}
.navbar {
	color: white;
	background-color: #73242A;

}
a {
	background-color: #73242A;
	color: white;

}
.nav-link:hover {
	color: white;
	border-bottom: solid white 0.1em;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.navbar-brand{
	font-size: 1.5rem;
}

.navbar-brand:hover {
	color: white;
	font-size: 2rem;
	border-bottom: solid white 0.2rem;
	-webkit-transition: 0.5s;
	transition: 0.5s;

}

#navBarContainer {
	border-top: solid white 0.2rem;
}

#cluckTruckImage {
}

.carousel-item {
	min-height: 100%;
	height: 100%;
	min-height: 300px;
}


@media (max-width: 991px) {
	.carousel-indicators,
	.carousel-indicators li {
		cursor: default;
		pointer-events: none;
		display: none;
	}
}
